.btn {
  margin: 20px;
  padding: 8px 20px;
  font-size: 0.9rem;
  background-color: #ffd050;
  border: 1px solid rgb(204, 190, 0);
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #e6b01d;
    color: #ffffff;
  }
}

.header {
  padding: 10px;
  text-align: center;
}
